.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(110deg, var(--color-main)-100%, var(--color-2th)50%);
}

.App-container{
    display: flex;
    width: 80vw;
    justify-content: space-between;
}

.App-subContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
