*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  box-sizing: inherit;
}

:root{
  --color-main: rgb(252, 120, 120);
  --color-2th: rgb(255, 167, 132);
  --color-3th: rgb(154, 241, 154) ;
  --color-gray: rgb(61, 61, 61);


  --shadow-main: 0 1rem 3.3rem 0 rgba(145, 59, 59, 0.6);
  --shadow-input: inset .3rem .3rem .5rem 0 rgba(185, 88, 88, 0.3),
                  inset -.3rem -.3rem .5rem 0 rgba(185, 88, 88, 0.3);
  --shadow-focus: .3rem .3rem 2rem 0 rgba(255, 167, 132, 0.9),
  -.3rem -.3rem 2rem 0 rgba(255, 167, 132, 0.9)            
}

.btn,
.btn:link,
.btn:visited{
  display: inline-block;
  padding: 1.3vh 1.5vw;
  border: none;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  transition: all .3s;
  border-radius: .3rem;
}

.btn:hover{
  transform: scale(1.1);
}

.btn:active{
  transform: scale(0.9);
}